﻿<%@ Page Title="Report A Sighting" Language="C#" AutoEventWireup="true" CodeFile="ReportSighting.aspx.cs" Inherits="ReportSighting" MasterPageFile="~/Site.master" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <div id="content" 
        style="background-color: rgba(255,255,255,0.8); border-radius: 10px; border: 1px solid black; overflow: hidden; padding: 10px;">
        <form runat=server id='addSightingForm'>
            
        </form>
    </div>
</asp:Content>
