﻿<%@  Language="C#" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="_Default" %>

<html>
    <head>
        <title>Database Creator</title>
        <style type="text/css">
            #content
            {}
        </style>
    </head>
    <body>
        <form id="form1" runat="server">
        <div id="header" 
            style="height: 100px; background-color: #0000FF; line-height: 100px; text-align: center;">
            <h1 style="font-size: 36px; color: #FFFFFF">BIT Bird Watchers Database Creator</h1>
        </div>
        <div id="content">
            <br />
            <br />
            <asp:Button ID="btnNuke" runat="server" Height="64px" Style="margin-left: 40%;" Text="Nuke and Recreate" 
                Width="135px" onclick="btnNuke_Click" />
        </div>
        </form>
    </body>
</html>
